.list {
    display: flex;
    flex-direction: column;
    max-width: 100%;

    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    &__card {
        max-height: 150px;
        width: 300px;
        margin: 5px;
        padding: 5px;
        background-color: #fff;
        border-radius: 5px;
    }
}

.card {
    
    height: 150px;
    width: 300px;
    overflow-wrap: inherit;
    margin: 5px;

    &__description {
        display: flex;
        max-height: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}